{% set aboutItems = [
  {
    desc: [{text:"Наш центр профориентации&nbsp;&mdash; это центр для тех, кому нужна помощь с&nbsp;выбором своей профессии. Если вы&nbsp;запутались и&nbsp;не&nbsp;знаете куда поступить после школы&nbsp;&mdash; мы&nbsp;поможем. Если вы&nbsp;закончили ВУЗ и&nbsp;не&nbsp;знаете куда пойти работать&nbsp;&mdash; мы&nbsp;вам поможем. Если вы&nbsp;проработали несколько лет и&nbsp;поняли, что вам не&nbsp;нравится&nbsp;то, чем вы&nbsp;занимаетесь&nbsp;&mdash; мы&nbsp;вам поможем. Все клиенты уникальны и&nbsp;мы&nbsp;найдем подход к&nbsp;каждому!"}],
    img: "assets/img/about/about1.jpg",
    mod: "left"
  },
  {
    desc: [
    {text:"Все беседы, тесты и&nbsp;вебинары проводятся только в&nbsp;уютной и&nbsp;комфортной обстановке, чтобы ничто вам не&nbsp;мешало сосредоточиться. Обстановка влияет на&nbsp;многое и&nbsp;мы&nbsp;тщательно за&nbsp;этим следим."},
    {text:"Для школьников и&nbsp;студентов дополнительным примером может послужить рассказ о&nbsp;профессии в&nbsp;реальном времени. Экскурсии могут показать ребятам как все происходит на&nbsp;самом деле, они услышат рассказы работников и&nbsp;зададут им&nbsp;интересующие их&nbsp;вопросы, а&nbsp;ведь это незабываемый опыт и&nbsp;впечатления."}
  ],
    img: "assets/img/about/about2.jpg",
    mod: "right"
  },
  {
    desc: [
    {text:"Когда вы&nbsp;определитесь с&nbsp;профессией, то&nbsp;мы&nbsp;поможем вам пойти дальше, подскажем куда пойти работать или куда поступать учиться. Подготовим к&nbsp;сдаче ЕГЭ и&nbsp;ОГЭ, а&nbsp;после соберем нужные документы для подачи в&nbsp;ВУЗы."},
    {text:"А&nbsp;для тех, кто уже нашел свое дело, мы&nbsp;поможем пройти курсы повышения квалификации. Какой&nbsp;бы ни&nbsp;была ваша профессия, повышение квалификации&nbsp;&mdash; необходимая часть вашего карьерного роста"}
  ],
    img: "assets/img/about/about3.jpg",
    mod: "left"
  },
  {
    desc: [{text:"Наш центр профориентации готов помочь каждому, главное&nbsp;&mdash; это быть открытым ко&nbsp;всему новому и&nbsp;хотеть найти ту&nbsp;самую &laquo;дорогу&raquo; своей жизни!"}],
    img: "assets/img/about/about4.jpg",
    mod: "right"
  }
] %}

<section class="about main-wrapper" id="about">
  {% include '../navigation/navigation.twig' %}
  <h2 class="title">О нас</h2>
  <div class="wrapper">
    {% for item in aboutItems %}
      <article class="about__item mod-{{ item.mod }}" data-aos="fade-{{ item.mod }}" data-aos-duration="650">
        <img data-src="{{ item.img }}" class="about__img mod-{{ item.mod }}">
        <div class="about__desc">
          {% for p in item.desc %}
            <p class="about__desc-text">{{ p.text }}</p>
          {% endfor %}
        </div>
      </article>
    {% endfor %}
  </div>
</section>